/* DemiBold */
@font-face {
    font-family: 'GolosText-DemiBold';
    src: local('GolosText'),
    url('../fonts/GolosText-DemiBold.ttf') format('truetype'),
    url('../fonts/GolosText-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GolosText-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
/* Regular */
@font-face {
    font-family: 'GolosText-Regular';
    src: local('GolosText'),
    url('../fonts/GolosText-Regular.ttf') format('truetype'),
    url('../fonts/GolosText-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GolosText-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
/* Medium */
@font-face {
    font-family: 'GolosText-Medium';
    src: local('GolosText'),
    url('../fonts/GolosText-Medium.ttf') format('truetype'),
    url('../fonts/GolosText-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GolosText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
/* Bold */
@font-face {
    font-family: 'GolosText-Bold';
    src: local('GolosText'),
    url('../fonts/GolosText-Bold.ttf') format('truetype'),
    url('../fonts/GolosText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GolosText-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
/* Black */
@font-face {
    font-family: 'GolosText-Black';
    src: local('GolosText'),
    url('../fonts/GolosText-Black.ttf') format('truetype'),
    url('../fonts/GolosText-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GolosText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
/* PFRegalDisplayPro-MediumItalic */
@font-face {
    font-family: 'PFRegalDisplayPro-MediumItalic';
    src: local('PF Regal Display Pro Medium Italic'), local('PF-Regal-Display-Pro-Medium-Italic'),
    url('../fonts/PFRegalDisplayPro-MediumItalic.woff2') format('woff2'),
    url('../fonts/PFRegalDisplayPro-MediumItalic.woff') format('woff'),
    url('../fonts/PFRegalDisplayPro-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
/* PFRegalDisplayPro-Regular */
@font-face {
    font-family: 'PFRegalDisplayPro-Regular';
    src: local('PF Regal Display Pro Regular'), local('PF-Regal-Display-Pro-Regular'),
    url('../fonts/PFRegalDisplayPro-Regular.woff2') format('woff2'),
    url('../fonts/PFRegalDisplayPro-Regular.woff') format('woff'),
    url('../fonts/PFRegalDisplayPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
/* PFRegalDisplayPro-Medium */
@font-face {
    font-family: 'PFRegalDisplayPro-Medium';
    src: local('PF Regal Display Pro Medium'), local('PF-Regal-Display-Pro-Medium'),
    url('../fonts/PFRegalDisplayPro-Medium.woff2') format('woff2'),
    url('../fonts/PFRegalDisplayPro-Medium.woff') format('woff'),
    url('../fonts/PFRegalDisplayPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
*,::before,::after{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 16px;
    font-family: "GolosText-Regular", sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Times New Roman", sans-serif;
}
*:focus {outline: none;}
body{
    background-image: url("../img/background.png");
    background-repeat: repeat;
    background-size: 30%;
}

/* HEADER */
header{
    width: 100%;
    background-image: url("../img/backgroundHeader.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 6rem;
    position: relative;
    overflow: hidden;
}

/* NAV */
.nav{
    display: flex;
    padding: 0 8.75rem;
    width: 100%;
    height: 6.25rem;
    justify-content: space-between;
    position: relative;
}
.container{
    display: flex;
}
.nav_logo{
    height: 6.25rem;
}
.nav_logo img{
    height: 6.25rem;
}
.nav-menu-list{
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 3.125rem;
}
.nav-menu-list_item{
    margin: 0 10px;
    position: relative;
}
.nav-menu-list_item__link{
    color: #4F585B;
    text-decoration: none;
    white-space: pre;
}
.nav-menu-list_item:hover{
    text-shadow: 0 0 0.7px #2B3336;
}
.nav-menu-list_item:hover:after{
    content: '';
    display: block;
    width: 3rem;
    height: 2px;
    position: absolute;
    top: 1.875rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #D1997D;
}
.nav-contacts{
    display: flex;
    color: #72797C;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.nav-contacts_address{
    font-size: 0.875rem;
    margin-right: 3.125rem;
}

.phone-number a{
    text-decoration: none;
    font-family: GolosText-Bold, sans-serif;
    font-size: 1.125rem;
    color: #404756;
}
.phone-number a span{
    font-family: GolosText-Medium, sans-serif;
    color: #72797C;
}
.phone-number:hover{
    border-radius: 5px;
    background-color: #d1ceee;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 3px 3px #d1ceee;
}
.phone-number:hover a span{
    color: #404756;
    text-shadow: 0 0 1px #404756;
}
.workMode{
    font-family: GolosText-DemiBold, sans-serif;
    font-size: 0.875rem;
}
.btnMenu{
    display: none;
    border: none;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-left: 4rem;
    background-color: #f0ccba;
    cursor: pointer;
}

.btnMenu:hover {
    box-shadow: 0 0 5px 5px #eebca2;
}

/* HEADER AGAIN */
.header-desc{
    margin-left: 15.7rem;
    margin-top: 5rem;
    color: #404756;
}
.header-desc_safe{
    font-family: PFRegalDisplayPro-MediumItalic, sans-serif;
    font-size: 2.4rem;
    animation: translateXText 2s ease-in 1 normal;
}
.header-desc h1{
    font-family: PFRegalDisplayPro-MediumItalic, sans-serif;
    font-weight: normal;
    font-size: 3.6rem;
    animation: translateXText 2s ease-in 1 normal;
}
.h1-direct{
    font-family: PFRegalDisplayPro-Medium, sans-serif;
}
.header-desc h1 p span{
    color: #cc715c;
}
@keyframes translateXText {
    0% {
        transform: translateX(-2rem);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.header-desc_list{
    list-style: none;
    margin-left: 7rem;
    margin-top: 2rem;
    font-size: 1.2rem;
    animation: opacityText 2s ease-in 1 normal;
}
@keyframes opacityText {
    0% {
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.header-desc_list__item{
    color: #404756;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.header-desc_list__item span{
    font-family: GolosText-Medium, sans-serif;
}
.header-desc_list__item:before{
    content: '';
    background: #D1997D;
    width: 1rem;
    height: 0.125rem;
    display: inline-block;
    margin-right: 1rem;
}
.header-consultation{
    margin: 3rem 0 3rem 30rem;
    border: none;
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    font-size: 1rem;
    background-color: #f0ccba;
    color: #4F585B;
    font-family: GolosText-Regular, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 3;
    cursor: pointer;
}
.header-consultation:after{
    content: '';
    display: block;
    width: 14rem;
    height: 14rem;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -1rem;
    left: -1rem;
    transform-origin: right;
    animation: rotateCircle 10s ease-in-out infinite alternate;
}
.header-consultation:before{
    content: '';
    display: block;
    width: 14rem;
    height: 14rem;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: -1rem;
    right: -1rem;
    transform-origin: left;
    animation: rotateCircle 10s ease-in-out infinite alternate;
}
.header-consultation__text:after{
    content: '';
    display: block;
    width: 14rem;
    height: 14rem;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 2rem;
    left: -1rem;
    transform-origin: top;
    animation: rotateCircle 10s ease-in-out infinite alternate;
}
.header-consultation__text:before{
    content: '';
    display: block;
    width: 14rem;
    height: 14rem;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    left: 1rem;
    top: 1rem;
    transform-origin: bottom;
    animation: rotateCircle 10s ease-in-out infinite alternate;
}
@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);}
    100%{
        transform: rotate(360deg);}
}
.header-consultation:hover {
    box-shadow: 0 0 10px 10px #eebca2;
}
.header-data{
    width: 100%;
    height: 9.6rem;
    padding:0 15.7rem;
    display: flex;
    margin-bottom: 7rem;
}
.header-data-info{
    width: 25%;
    height: 100%;
    background-color: #f6f3fa;
    border: 1px solid white;
    border-bottom: 1px solid #e1c3bf;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.header-data-info h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    color: #404756;
    font-family: GolosText-Medium, sans-serif;
}
.header-data-info p {
    color: #4F585B;
    font-family: GolosText-Regular, sans-serif;
}
.ringLeft{
    filter: blur(4px);
    position: absolute;
    top: 20%;
    left: -44%;
    width: 60%;
}
.ringRight{
    position: absolute;
    top: 58%;
    left: 66%;
    width: 50%;
}

/* MAIN */
.main-container{
    display: flex;
    position: relative;
}
.main-container:before{
    content: '';
    position: absolute;
    width: 36rem;
    height: 36rem;
    border-radius: 50%;
    background-color: #f4f4f4;
    bottom: -20%;
    left: 35%;
    z-index: 1;
}
.main-img-doctor{
    width: 50%;
    z-index: 2;
    background-image: url("../img/doctor.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.main-container-description{
    z-index: 2;
    color: #72797C;
}
.main-container-description__title{
    margin-left: -6rem;
}
.h2-title{
    font-size: 2.5rem;
    color: #404756;
    font-family: PFRegalDisplayPro-Medium, sans-serif;
    font-weight: normal;
}
.h2-italic{
    font-size: 2.5rem;
    color: #404756;
    font-family: PFRegalDisplayPro-MediumItalic, sans-serif;
    font-weight: normal;
}
.h2-desc{
    margin: 0.5rem 0 3.5rem;
}
.main-container-description_list, .womans85_list{
    list-style: none;
    margin-left: 4rem;
    margin-bottom: 2.5rem;
    font-size: 1.2rem;
}
.main-container-description_list li, .womans85_list li{
    margin-bottom: 1rem;
    position: relative;
}
.main-container-description_list li span{
    font-family: GolosText-Medium, sans-serif;
}
.main-container-description_list li:before, .womans85_list li:before{
    content: '';
    position: absolute;
    background: #D1997D;
    width: 1rem;
    height: 0.125rem;
    top: 0.7rem;
    transform: translateY(50%);
    left: -2rem;
}
.main-container-description-sign{
    display: flex;
    margin-left: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    color: #707070;
}
.main-container-description-sign img{
    height: 6rem;
    margin-right: 1.5rem;
}
.author-sign{
    font-family: GolosText-Medium, sans-serif;
    margin-bottom: 0.5rem;
}

/* womans85 */
.womans85-container{
    padding: 0 3.5rem;
    width: 100%;
    z-index: 5;
    margin: -5px 0 9rem;
    position: relative;
}
.womans85{
    background-image: url("../img/womans85.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 42rem;
    padding-left: 20rem;
    padding-top: 4.5rem;
    color: #404756;
    box-shadow: 0 20px 60px #d8e8f4;
    border-radius: 10px;
}
.womans85-title .h2-desc{
    color: #404756;
}
.womans85_list{
    color: #677186;
}

/* COMPLEXES */
.complexes-title{
    color: #404756;
    text-align: center;
}
.complexes-content{
    width: 100%;
    height: 55rem;
    padding: 0 15.7rem;
    z-index: 5;
    position: relative;
}
.complexes-content-item{
    display: flex;
}
.item-key{
    height: 50%;
    background-image: url("../img/complex-fon1.png");
}
.item-1day{
    height: 50%;
    background-image: url("../img/complex-fon2.png");
}
.complexes-content-item_img{
    height: 100%;
    width: 60%;
    background-repeat: no-repeat;
    background-size: cover;
}
.keyImg{
    background-image: url("../img/complex-keyImg.png");
}
.day1Img{
    background-image: url("../img/complex-1dayImg.png");
    background-position: right;
}
.complexes-content-item_description{
    width: 40%;
    height: 100%;
    padding-top: 3rem;
    padding-left: 7.75rem;
}
.complexes-content-item_description__title{
    font-family: PFRegalDisplayPro-Medium, sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #404756;
    margin-bottom: 1rem;
}
.complexes-content-item_description__par{
    color: #4F585B;
    font-family: GolosText-Regular, sans-serif;
    margin-bottom: 3rem;
}
.complexes-content-item_description__list{
    list-style: none;
    color: #707070;
    font-family: GolosText-Regular,sans-serif;
    padding-left: 2rem;
}
.complexes-content-item_description__list-item{
    margin-bottom: 1.5rem;
    position: relative;
}
.complexes-content-item_description__list-item:after{
    content: '';
    position: absolute;
    background: #D1997D;
    width: 1rem;
    height: 0.125rem;
    top: 0.5rem;
    left: -2rem;
}
.description2{
    padding-left: 0;
}

/* FIRSTinNOVOSIB */
.firstInNovosib{
    margin-top: -6rem;
    width: 100%;
    height: 160vh;
    background-image: url("../img/firstInNovosib.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    position: relative;
    padding-top: 15rem;
}
.firstInNovosib-title{
    text-align: center;
}
.firstInNovosib-title .h2-desc{
    color: #404756;
}
.firstInNovosib-desc{
    position: relative;
    width: 100%;
}
.firstInNovosib-desc-condition{
    position: absolute;
    width: 15rem;
    height: 8rem;
    background-color: #E66060;
    left: 20rem;
    border-radius: 10px;
 }
.firstInNovosib-desc-condition-container{
    width: 100%;
    height: 100%;
    position: relative;
    color: #FFFFFF;
    padding-left: 1rem;
    padding-top: 1.5rem;
}
.firstInNovosib-desc-condition-container h5{
    font-family: GolosText-Medium, sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}
.firstInNovosib-desc-condition-container p{
    font-family: GolosText-Regular, sans-serif;
}
.firstInNovosib-desc-condition-container__circle:after{
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #E96B6B;
    bottom: 0;
    right: 0;
    transform: translate(50%,50%);
}
.firstInNovosib-desc-condition-container__circle:before{
    content: '';
    position: absolute;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-color: #E96B6B;
    opacity: 0.5;
    bottom: 0;
    right: 0;
    transform: translate(50%,50%);
}
.firstInNovosib-desc-condition-container__plus:after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 1px;
    background-color: #FFFFFF;
    bottom: 0;
    right: 0;
    transform: translate(50%,50%);
}
.firstInNovosib-desc-condition-container__plus:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 1rem;
    background-color: #FFFFFF;
    bottom: 0;
    right: 0;
    transform: translate(50%,50%);
}

.firstInNovosib-desc-place{
    position: absolute;
    width: 22rem;
    height: 20rem;
    background-color: #FFFFFF;
    left: 72rem;
    top: 9rem;
    border-radius: 10px;
}
.firstInNovosib-desc-place-container{
    width: 100%;
    height: 100%;
    position: relative;
    color: #4F585B;
    padding-left: 2rem;
    padding-top: 2rem;
}
.firstInNovosib-desc-place-container h5{
    font-family: GolosText-Medium, sans-serif;
    font-weight: normal;
    font-size: 1.125rem;
    margin-bottom: 1rem;
}
.firstInNovosib-desc-place-container_par, .firstInNovosib-desc-place-container_par-color{
    font-family: GolosText-Regular, sans-serif;
}
.firstInNovosib-desc-place-container_par-color{
    margin: 1rem 0;
    color: #D1997D;
}
.firstInNovosib-desc-place-container_par  span{
    font-family: GolosText-Medium, sans-serif;
    font-weight: normal;
}
.firstInNovosib-desc-place-container__circle:after{
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
}
.firstInNovosib-desc-place-container__circle:before{
    content: '';
    position: absolute;
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-color: #FFFFFF;
    opacity: 0.5;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
}
.firstInNovosib-desc-place-container__plus:after{
     content: '';
     position: absolute;
     width: 1rem;
     height: 1px;
     background-color: #D1997D;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
 }
.firstInNovosib-desc-place-container__plus:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 1rem;
    background-color: #D1997D;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
}


/* BEFORE-AFTER */
.before-after{
    margin-top: -8rem;
    position: relative;
    z-index: 5;
}
.before-after_header{
    display: flex;

}

.before-after_slider{
    margin: 0 150px;
}
.before-after_slider div img{
    max-width: 100%;
    height: auto;
}
.before-after_header__selectors{
    position: relative;
}
.slick-prev, .slick-next{
    top: 0;
    right: 0;
}
.slick-prev:before, .slick-next:before{
    color: #C77A56;
    font-size: 3rem;
    opacity: 1;
}

/*  */
@media(max-width: 2560px) {
    html{
        font-size: 22px;
    }
}
@media(max-width: 2300px) {
    html{
        font-size: 20px;
    }
}
@media(max-width: 2100px) {
    html{
        font-size: 18px;
    }
}
@media(max-width: 1900px) {
    html{
        font-size: 16px;
    }
}
@media(max-width: 1680px) {
    html{
        font-size: 14px;
    }
    .nav-menu-list{
        margin-left: 2rem;
    }
    .nav-contacts_address{
        margin-right: 1.5rem;
    }

}
@media(max-width: 1440px) {
    html{
        font-size: 14px;
    }
    header{
        background-position-x: -4rem ;
    }
    .nav {
        padding: 0 5rem;
    }
}
@media (max-width: 1367px) {
    .nav {
        padding: 0 4rem;
    }
    header{
        background-position-x: -6rem ;
    }
    .nav-contacts{
        margin-right: -1rem;
    }
    .main-img-doctor{
        background-position: right;
    }
}
@media(max-width: 1280px) {
    .nav-contacts {
        display: flex;
        flex-direction: column-reverse;
        margin-right: 3rem;
        margin-top: 1rem;
    }
    .nav-contacts_address {
        margin-right: 0;
        margin-top: 0.5rem;
    }
    .header-data {
        padding: 0 10rem;
    }
    .ringRight{
        top: 62%;
    }
}
@media(max-width: 1024px) {
    html{
        font-size: 12px;
    }
    header{
        background-position-x: -8rem ;
    }
    .nav-menu-list_item{
        margin: 0 7px;
    }
    .nav-contacts {
        margin-right: -1rem;
    }
    .header-data{
        padding:0 6.5rem;
    }
    .ringRight{
        left: 68%;
    }
    .womans85{
        padding-left: 15rem;
    }
}
@media(max-width: 800px) {
    header{
        padding-bottom: 5rem;
        background-position-x: -22rem;
    }
    .nav{
        padding-left: 5rem;
        padding-right: 0;
        justify-content: normal;
        align-items: center;
    }
    .nav-menu{
        display: none;
    }
    .nav-menu-list{
        height: 20rem;
        width: 13rem;
        position: absolute;
        flex-direction: column;
        justify-content: normal;
        align-items: flex-start;
        left: 3rem;
        top: 6.25rem;
        background-color: white;
        border-radius: 5px;
        padding-top: 10px;
        z-index: 5;
    }
    .nav-menu-list_item{
        margin-bottom: 1.5rem;
    }
    .nav-menu-list_item:hover:after{
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        left: 120%;
        top: 50%;
        transform: translateY(-50%);
        background-color: #D1997D;
    }
    .nav-contacts {
        margin-right: 0;
        margin-left: 25rem;
    }
    .btnMenu {
        display: block;
    }
    .header-desc{
        margin-left: 8rem;
        margin-top: 3rem;
    }
    .header-desc h1{
        font-size: 3rem;
    }
    .header-desc_list{
        margin-left: 5rem;
        margin-top: 1.5rem;
    }
    .header-consultation{
        margin-left: 17rem;
    }
    .header-data{
        padding:0 5rem;
        margin-bottom: 6rem;
    }
    .ringLeft{
        top:30%;
    }
    .ringRight{
        top: 65%;
    }
    .main-container:before{
        width: 32rem;
        height: 32rem;
    }
    .h2-desc{
        margin-bottom: 2rem;
    }
    .main-container-description_list, .womans85_list{
        margin-bottom: 2rem;
    }
    .womans85{
        height: 33rem;
        padding-left: 8rem;
        padding-top: 2rem;
    }
}
@media(max-width: 500px) {
    header{
        background-position-x: -23rem;
    }
    .nav-contacts{
        margin-left: 0;
        display: none;
        flex-direction: column-reverse;
        position: absolute;
        height: 8rem;
        width: 13rem;
        top: 25.3rem;
        border-radius: 5px;
        z-index: 5;
        background-color: white;
    }
    .nav-contacts_address{
        margin-right: 0;
        margin-top: 1rem;
        margin-left: 0;
    }
    .btnMenu {
        display: block;
    }
    .header-desc{
        margin-left: 5rem;
    }
    .header-desc_safe{
        font-size: 2rem;
    }
    .header-desc h1{
        font-size: 2.3rem;
    }
    .header-desc_list{
        margin-left: 1rem;
    }
    .header-consultation{
        margin-left: 10rem;
    }
    .header-consultation, .header-consultation:after, .header-consultation:before, .header-consultation__text:after, .header-consultation__text:before{
        width: 10rem;
        height: 10rem;
    }
    .header-data{
        padding:0;
        margin-bottom: 0;
    }
    .header-data-info p{
        font-size: 0.9rem;
    }
    .ringLeft{
        top: 46%;
    }
    .ringRight{
        top: 68%;
        left: 74%;
        width: 80%;
    }
    .main-container{
        flex-direction: column-reverse;
    }
    .main-container:before{
        display: none;
    }
    .main-img-doctor{
        height: 35rem;
        width: 100%;
        background-position-x: -6rem;
    }
    .main-container-description{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .main-container-description__title{
        margin-left: 2rem;
    }
    .main-container-description_list, .main-container-description-sign{
        margin-left: 6rem;
    }
    .main-container-description-sign{
        margin-bottom: 0;
    }
    .h2-title, .h2-italic{
        font-size: 1.8rem;
    }
    .main-container-description_list, .womans85_list{
        font-size: 1rem;
    }
    .womans85-container {
        margin-bottom: 3rem;
        padding: 0 1rem;
    }
    .womans85{
        height: 30rem;
        padding-left: 3rem;
        padding-top: 3rem;
        background-position-x: -10rem;
    }
}

@media(max-width: 360px) {
    header{
        background-position-x: -29rem;
        padding-bottom: 2rem;
    }
    .nav{
        padding-left: 2rem;
        height: 5.5rem;
    }
    .nav_logo {
        height: 5.5rem;
    }
    .nav_logo img{
        height: 5.5rem;
    }
    .nav-menu-list{
        width: 12rem;
        height: 19rem;
        left: 0;
        top: 5.5rem;
    }
    .nav-contacts{
        width: 12rem;
        top: 23.75rem;
    }
    .btnMenu{
        margin-left: 1rem;
    }
    .header-desc{
        margin-left: 2rem;
        margin-top: 2rem;
    }
    .header-desc h1{
        font-size: 1.8rem;
    }
    .header-desc_list{
        font-size: 1rem;
    }
    .header-consultation{
        margin-left: 7rem;
    }
    .header-data{
        flex-wrap: wrap;
        height: 180px;
    }
    .header-data-info{
        width: 50%;
        height: 50%;
    }
    .header-data-info h3 {
        margin-top: 1rem;
    }
    .ringRight{
        top: 80%;
        left: 45%;
        width: 80%;
    }
    .main-img-doctor{
        background-position-x: -15rem;
    }
    .womans85-container{
        padding: 0;
    }
    .womans85{
        height: 27rem;
        padding-left: 2rem;
        padding-top: 2rem;
    }
    .womans85_list{
        margin-left: 2rem;
    }
}